#menu li{
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
 
}

header img{
    margin-bottom: 20px; 
}

header{
    padding: 10px;
    border-bottom: 3px solid #000;
    margin-bottom: 30px;
}

a{
    color: #000000 !important;
}

#menu li a:hover{
    color: orangered;
}
footer{
    padding: 10px;
    border-bottom: 3px solid #000;
    margin-bottom: 30px;
}
footer{
    margin: 20px;
}
